
@{
    Layout = null;
}
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Features</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Tables Responsive</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">


    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="text-center">
                    <div class="mb-md">
                        <div class="row">
                            <div class="form-group col-md-10 col-sm-12">
                                <div class="col-md-6">
                                    <label>İsim</label>
                                    <input type="text" name="name" class="form-control input-lg" data-ng-model="searchData.Name" required autofocus>
                                </div>
                                <div class="col-md-6">
                                    <label>Soyad</label>
                                    <input type="text" name="name" class="form-control input-lg" data-ng-model="searchData.Surname" required autofocus>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="search();" id="addToTable" class="btn btn-primary" style="margin-top:20px; margin-bottom:20px; height:50px; width:80%;">Ara <i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-condensed mb-none">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyad</th>
                        <th>Mail</th>
                        <th class="text-center">CheckIn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in users">
                        <td>{{item.Name}}</td>
                        <td>{{item.Surname}}</td>
                        <td>{{item.Email}}</td>
                        <td class=" text-center"><button ng-click="checkin(item.Email);" class="btn btn-xs {{btnClass}}">CheckIn</button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </section>
    <i ng-show="loading" class="fa fa-spinner fa-spin"></i>

</div>