
@{
    Layout = null;
}

<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Etkinlik</a></li>
                    <li class="active">Detay</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Etkinlik Detayı</h1>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-init="getDetail();">

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img alt="" class="img-responsive" src="~/Images/Afis/imagepath/{{etkinlik.FotoName}}">
        </div>

        <div class="col-md-8 col-sm-8">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="shorter">{{etkinlik.Adi}}</h2>
                    <h4>{{etkinlik.Tarihi | date:'dd/MM/yyyy'}}</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-if="buttonShow" ng-click="etkinlikKayit();" class="btn {{buttonClass}} btn-lg" style="float:right; margin-top:10px; width:40%;"><i ng-show="loading" class="fa fa-refresh fa-spin"></i> {{buttonMessage}}</button>
                </div>
            </div>
            
            

            <span class="thumb-info-social-icons">
            </span>

            <p>{{etkinlik.Aciklama}}</p>
        </div>
    </div>

</div>

