
@{
    Layout = null;
}

<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Ana Sayfa</a></li>
                    <li class="active">Etkinlik Görüntüleme</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Etkinlikler</h1>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-init="getEtkinlik();">

    <h2><strong>Geçmiş</strong> Etkinlikler</h2>

    <hr />

    <div class="row">

        <ul class="team-list sort-destination" data-sort-id="team">
            <li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership" ng-repeat="etkinlik in gecmisEtkinlik">

                <div class="team-item thumbnail">
                    <a href="javascript:void(0)" ng-click="goEtkinlik(etkinlik.Id);" class="thumb-info team">
                        <img class="img-responsive" alt="" src="~/Images/Afis/imagepath/{{etkinlik.FotoName}}" >
                        <span class="thumb-info-title">
                            <span style="white-space: normal;" class="thumb-info-inner">{{etkinlik.Adi}}</span>
                            <span class="thumb-info-type">{{etkinlik.Tarihi | date:'dd/MM/yyyy'}}</span>
                        </span>
                    </a>
                    <span class="thumb-info-caption">
                        <p>{{etkinlik.Adi}}</p>
                        <span class="thumb-info-social-icons text-center">
                            <a ng-click="goEtkinlik(etkinlik.Id);" class="btn btn-md btn-primary" style="width:50%;">Detay</a>
                        </span>
                    </span>
                </div>
            </li>

        </ul>

    </div>
    <h2><strong>Haftanın</strong> Etkinlikleri</h2>

    <hr />

    <div class="row">

        <ul class="team-list sort-destination" data-sort-id="team">
            
            <li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership" ng-repeat="etkinlik in buHaftaEtkinlik">

                <div class="team-item thumbnail">
                    <a href="javascript:void(0)" ng-click="goEtkinlik(etkinlik.Id);" class="thumb-info team">
                        <img class="img-responsive" alt="" src="~/Images/Afis/imagepath/{{etkinlik.FotoName}}">
                        <span class="thumb-info-title">
                            <span style="white-space: normal;" class="thumb-info-inner">{{etkinlik.Adi}}</span>
                            <span class="thumb-info-type">{{etkinlik.Tarihi | date:'dd/MM/yyyy'}}</span>
                        </span>
                    </a>
                    <span class="thumb-info-caption">
                        <p>{{etkinlik.Adi}}</p>
                        <span class="thumb-info-social-icons text-center">
                            <a ng-click="goEtkinlik(etkinlik.Id);" class="btn btn-md btn-primary" style="width:50%;">Detay</a>
                        </span>
                    </span>
                </div>
            </li>
        </ul>

    </div>

    <h2><strong>Gelecek</strong> Etkinlikler</h2>

    <hr />

    <div class="row">

        <ul class="team-list sort-destination" data-sort-id="team">
            <li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership" ng-repeat="etkinlik in gelecekEtkinlik">

                <div class="team-item thumbnail">
                    <a href="javascript:void(0)" ng-click="goEtkinlik(etkinlik.Id);" class="thumb-info team">
                        <img class="img-responsive" alt="" src="~/Images/Afis/imagepath/{{etkinlik.FotoName}}">
                        <span class="thumb-info-title">
                            <span style="white-space: normal;" class="thumb-info-inner">{{etkinlik.Adi}}</span>
                            <span class="thumb-info-type">{{etkinlik.Tarihi | date:'dd/MM/yyyy'}}</span>
                        </span>
                    </a>
                    <span class="thumb-info-caption">
                        <p>{{etkinlik.Adi}}</p>
                        <span class="thumb-info-social-icons text-center">
                            <a ng-click="goEtkinlik(etkinlik.Id);" class="btn btn-md btn-primary" style="width:50%;">Detay</a>
                        </span>
                    </span>
                </div>
            </li>

        </ul>

    </div>


</div>