
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div ng-controller="Account.Login.Controller">
    <input ng-model="regis.user" />
    <input ng-model="regis.pass" />
    <button ng-click="register();">Register</button>
    <br />
    <br />
    <input ng-model="username" />
    <input ng-model="password" />
    <button ng-click="login();">Login</button>
    <br />
    <br />
    <button ng-click="getValues();">Get Values</button>
    <br />
    <br />
    <label>Token: {{token}}</label>
    <br />
    <br />
    <label>Values: {{values}}</label>
</div>

@section Scripts {
    <script src="~/Scripts/Angular/Account.Login.Controller.js"></script>
}
@section pageCss {
    
}