@using Microsoft.AspNet.Identity

<div ng-controller="Shared.LoginPartial.Controller">



    @if (Request.IsAuthenticated)
    {
        <form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)">Hello @User.Identity.GetUserName()</a>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()" ng-model="logOff()">Log off</a></li>
            </ul>
        </form>
    }
    }
    else
    {
    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)" ng-model="register()" class="ng-pristine ng-untouched ng-valid">sssss</a></li>
        <li><a href="javascript:void(0)" ng-model="login()" class="ng-pristine ng-untouched ng-valid">Login</a></li>
    </ul>
    }
</div>