@using Microsoft.AspNet.Identity

<div ng-controller="Shared.LoginPartial.Controller">



    
        <form ng-if="authentication.isAuth">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)">Hello <span>{{authentication.username}}</span></a>
                </li>
                <li><a href="javascript:void(0)" ng-click="logOff()">Log off</a></li>
            </ul>
        </form>

        <ul class="nav navbar-nav navbar-right" ng-if="authentication.isAuth == false">
            <li><a href="javascript:void(0)" ng-click="register();" class="ng-pristine ng-untouched ng-valid">Register</a></li>
            <li><a href="javascript:void(0)" ng-click="login();" class="ng-pristine ng-untouched ng-valid">Login</a></li>
        </ul>

</div>