@using sauemk.web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Pages</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Giriş Yap</h1>
            </div>
        </div>
    </div>
</section>


<div class="container" ng-controller="Account.Login.Controller">

    <div class="row">
        <div class="col-md-12">

            <div class="row featured-boxes login">
                <div class="col-sm-3">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <div class="featured-box featured-box-secundary default info-content">
                        <div class="box-content">
                            <h4>I'm a Returning Customer</h4>
                            <form action="" id="" method="post" name="loginForm">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Kullanıcı Adı veya Mail Adresi</label>
                                            <input type="text" name="email" class="form-control input-lg" data-ng-model="loginData.userName">
                                            <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                                                <span ng-show="loginForm.email.$error.required">Lütfen bir E-mail adresi giriniz.</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <a class="pull-right" href="#">(Lost Password?)</a>
                                            <label>Password</label>
                                            <input type="password" name="password" class="form-control input-lg" data-ng-model="loginData.Password">
                                            <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                                                <span ng-show="loginForm.password.$error.required">Lütfen bir şifre giriniz.</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <a  
                                           data-ng-click="login()" 
                                           class="btn btn-primary pull-right push-bottom" 
                                           ng-disabled="loginForm.email.$dirty && loginForm.email.$invalid || loginData.userName == '' ||
                                                        loginForm.password.$dirty && loginForm.password.$invalid || loginData.Password == '' ">Login</a>
                                    </div>
                                </div>
                                
                            </form>
                            <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    &nbsp;
                </div>
            </div>

        </div>
    </div>

</div>
