@model sauemk.web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<form role="form">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Register</h2>
            <input ng-disabled="loading" type="text" class="form-control" placeholder="Username" data-ng-model="regisData.Email" required autofocus>
            <input ng-disabled="loading" type="password" class="form-control" placeholder="Password" data-ng-model="regisData.Password" required>
            <input ng-disabled="loading" type="password" class="form-control" placeholder="Confirm Password" data-ng-model="regisData.ConfirmPassword" required>
            <button ng-disabled="loading" class="btn btn-md btn-info btn-block" type="submit" data-ng-click="register()" style="max-width:280px;">Register</button>

            <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</form>