
@{
    ViewBag.Title = "Master";
    Layout = null;
}


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-controller="Home.Index.Controller">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/content/img/slides/arkaplan.jpg" alt="">
            <div class="carousel-caption" style="margin-bottom:50px;">
                <h5 style="font-size:20px; color:white;">Hey !!! Sen Hala</h5>
                <h1 style="font-weight:900; font-size:50px; color:white;">KAYIT OLMADIN MI?</h1>
                <p style="font-size:15px; color:white;">Kayıt olmak için butona tıklaman yeterli</p>
                <button style="font-size:25px;font-weight:700; color:white;" class="btn btn-primary" ng-click="goRegister();">Kayıt Ol !</button>
            </div>
        </div>
        <div class="item">
            <img src="~/content/img/slides/arkaplan.jpg" alt="">
            <div class="carousel-caption" style="margin-bottom:50px;">
                <h1 style="font-weight:900; font-size:50px; color:white;">HOŞGELDİNİZ</h1>
                <p style="font-size:15px; margin-bottom:0px; color:white;">Sakarya Üniversitesi</p>
                <strong style="font-size:15px;  color:white;">Endüstri Mühendisliği Kulübü</strong>
                <p style="font-size:15px; color:white;">Etkinlik Kayıt Sistemi</p>
            </div>
        </div>
    </div>


</div>

<div class="row center push-top">
    <div class="owl-carousel" data-plugin-options='{"items": 5, "autoplay": true, "autoplayTimeout": 3000}'>
        <div>
            <img class="img-responsive" src="~/content/img/logos/logo-1.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="~/content/img/logos/logo-2.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="~/content/img/logos/logo-3.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="~/content/img/logos/logo-4.png" alt="">
        </div>
        <div>
            <img class="img-responsive" src="~/content/img/logos/logo-5.png" alt="">
        </div>
    </div>
</div>